      <article id="intro">
        <div class="profile-card">
          <img src="images/profile.jpg" alt="Profile picture of Alexander Hughes" class="profile-image">
          <div>
            <h3>Alexander Hughes</h3>
            <h4>Cloud evangelist + Azure architect</h4>
          </div>
        </div>
        <p>I'm a cloud evangelist and love seeing the light bulbs turn on when teaching others of the possibilities of the cloud.</p>
        <p>I'm passionate about technology's capacity to empower businesses and enhance lives. Throughout my IT career, I've always sought ways of automating to better leverage technology to work for us. I recognize the incredible potential of the cloud to solve all kinds of technical problems, and I feel right at home in Microsoft Azure. I'm excited by the constant change and am driven to master the latest cloud innovations.</p>
        <p>I love chasing the high that comes from learning something new and can usually be found listening to a tech podcast or geeking out about the newest cloud breakthrough.</p>
        <p>I've recently joined CompuNet as a Solutions Architect, focusing on growing our Azure practice and expanding into DevOps and app modernization.</p>
      	<div id="intro-links" >
      		<!-- <a href="#experience" class="button"><i class="las la-file-download"></i> Download resume</a> -->
          <a href="#experience" class="button"><i class="las la-link"></i> View tech experience</a>
      		<a href="{{ site.data.social_links[0].link }}" target="_blank" title="Alexander Hughes on LinkedIn" class="button"><i class="las la-external-link-alt"></i> View LinkedIn</a>
      	</div>
        <hr>
        <h3 class="major">What I'm most proud of</h3>
        <div class="profile-card">
        	<img src="images/cloud-training.png" alt="" class="profile-image">
        	<div>
        		<h4>Ability to relate technical information clearly & simply</h4>
        		<p>I pride myself on being able to reduce complex ideas to the basics, providing easy-to-understand explanations. This has led me to fulfill (and excel at) various training and mentor roles throughout my career.</p>
        	</div>
        </div>
        <div class="profile-card flex-row-reverse">
        	<img src="images/growth-mindset.png" alt="" class="profile-image">
        	<div>
        		<h4>Growth mindset</h4>
        		<p>I’m always looking for opportunities outside my comfort zone to expand my horizons. My ability to rapidly grasp and master disparate technology stacks has helped me grow to support larger and more complex environments.</p>
        	</div>
        </div>
        <div class="align-center">
          <a href="#contact" class="button"><i style="transform: scale(2);" class="las la-paper-plane"></i> Let's connect</a>
        </div>
      </article>