			<article id="about">
        <h2 class="major">About me</h2>
        <!-- <span class="image main"><img src="images/pic03.jpg" alt="" /></span> -->
        <p>Outside of work, I try to spend as much time as I can with my family. We have an above-average number of spontaneous kitchen dance parties and probably eat an above-average amount of ice cream.</p>
        <p>If I had to pick a favorite show, I'd probably declare a tie between <em>Stranger Things</em> and <em>The Mandalorian</em>, although we've defintely watched more of <em>The Office</em> than anything else.</p>
        <p>I'd also add that I think <em>The Secret Life of Walter Mitty</em> is absolutely an underrated movie.</p>
        <div class="align-center">
          <a href="{{ site.data.social_links[1].link }}" class="button"><i style="transform: scale(2);" class="lab la-instagram"></i> voilaquoi on Instagram</a>
        </div>
      </article>