      <article id="skills">
        <h2 class="major">Certifications</h2>
        <ul class="cert-list">
          {% for cert in site.data.certs %}
          <li class="cert-list-item">
            <a href="{{ cert.link }}" title="Click to verify this {{ cert.issuer }} certification" target="_blank">
              <img src="images/badges/{{ cert.img }}" alt="{{ issuer }} Certified: {{ cert.name }}">
              <span class="cert-caption">{{ issuer }} Certified: {{ cert.name }} (Issued {{ issue_date }})</span>
            </a>
          </li>
          {% endfor %}
        </ul>
        <h2 class="major">Education</h2>
        	<div id="education">
        		<img src="images/Block_U.svg" alt="University of Utah Block U" title="University of Utah David Eccles School of Business" />
        		<div>
        			<h3>B.S. Information Systems</h3>
        			<h5>2013 - 2017</h5>
        			<h4>David Eccles School of Business<br><em>(University of Utah)</em></h4>
        		</div>
        	</div>
        <h2 class="major">Competencies</h2>
        <div class="skill-list">
          {% for skill in site.data.skills %}
          <div class="skill-list-item"><i class="{{ skill.icon }}"></i> {{ skill.name }}</div>
          {% endfor %}
        </div>
        <hr>
        <h2 class="major">What's on deck</h2>
        <div class="profile-card">
          <img src="images/terraform-logo.png" alt="" class="profile-image">
          <div>
            <h4>Terraform (Infrastructure as Code)</h4>
            <p>Lately I've been working a lot with Terraform and gaining more experience using it to deploy Azure resources. I've also been occasionally playing with Azure's Bicep language (which transpiles to an ARM template). Moving forward I'll be focusing on CI/CD, including implementing testing as part of the pipeline.</p>
          </div>
        </div>
        <div class="profile-card flex-row-reverse">
          <img src="images/ansible-logo.png" alt="Ansible" class="profile-image">
          <div>
            <h4>Ansible (Configuration Management)</h4>
            <p>Although I feel comfortable with the basics of Ansible, I'm hoping to spend more time with it to really understand where it really fits into an Azure architecture. I'll be pitting it against using Azure automation accounts or even PowerShell DSC.</p>
          </div>
        </div>
      </article>