<article id="experience">
  <h2 class="major">Experience</h2>

  {% for i in site.data.experience %}
  <span class="image main">
    <img src="images/banners/{{ i.img }}" alt="{{ i.title }} | {{ i.company }}" title="{{ i.title }} @ {{ i.company }}" />
  </span>
  <h3 class="align-center">{{ i.dates }}</h3>
  {{ i.description }}
  <hr>
  {% endfor %}

  <div class="align-center">
    <a href="https://linkedin.com/in/alexandernhughes" target="_blank" title="Alexander Hughes on LinkedIn" class="button"><i style="transform: scale(2);" class="lab la-linkedin"></i> View LinkedIn</a>
  </div>
</article>