      <article id="contact">
        <h2 class="major">Contact</h2>
        <form method="post" action="https://formsubmit.co/46d56a843c0bacf569ad8d10e0542274">
          <div class="fields">
            <div class="field half">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" />
            </div>
            <div class="field half">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" />
              <input type="hidden" name="_replyto">
              <input type="hidden" name="_subject" value="New submission!">
            </div>
            <div class="field">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows="4"></textarea>
              <input type="hidden" name="_template" value="box">
              <input type="text" name="_honey" style="display:none">
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send Message" class="primary" /></li>
            <li><input type="reset" value="Reset" /></li>
          </ul>
        </form>
        <ul class="icons">
          {% for item in site.data.social_links %}
          <li>
            <a href="{{ item.link }}" target="_blank" class="icon">
              <i class="{{ item.icon }}"></i>
              <span class="label">{{ item.name }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </article>